* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f0f0;
}

.convergence {
    font-size: 2rem;
    color: green;
    font-weight: bold;
}